<section class="about__page">
  <h1 class="tittle">Rick and Morty GraphQL APP</h1>
  <div class="about__container">
    <p class="about__paragraph">
      Angular 17 - Apollo + Rick and Morty GraphQL API.
      Este es un proyecto de desarrollo acádemico para consumir una API GraphQL. 
    </p>
    <figure class="about__img">
      <img src="/assets/images/web_dev.svg" alt="Web Developer" class="about__picture" rel="preload" as="image" width="406" height="306">
    </figure>
  </div>
  <p class="about__copy">
    Developed by <span class="text-white">JOAQUÍN GALDAME</span>
  </p>
</section>